#header-content {
    position: relative;
    height: 100vh;
    margin:0;
    padding:0;
}

#header-content #nav{
    background: #ffff
}

#bg { 
    position: relative;
    height:10vh;
    background: url("./profile-pic.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;
}

#nav {
    
}
