body{
    font-family: 'Roboto Condensed', sans-serif;
}


body:before {
/*      background: linear-gradient(45deg, hsl(45deg 100% 61%), hsl(54deg 99% 47%), hsl(45deg 100% 61%));  */
    content: "";
    position: absolute;
    bottom: 0%;
    top:0;
    left: 0;
    width: 100%;
    padding: 17%;
/*     box-shadow: 10px 10px 10px #f2d714; */
    background:linear-gradient(45deg, #fefefe,#dee2e6, #dee2e6, #f8fafc, #dee2e6, #dee2e6);
    z-index: -1;
}


body:after {
    background:#f8fafc;
    content: "";
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    padding: 17%;
    border-top-left-radius: 100rem;
    border-top-right-radius: 100rem;
    border-top: 2px solid #f8f9fa !important;
/*     box-shadow: 10px 10px 10px #f2d714; */
    z-index: -1;
}


.animation {
    animation: moveInBotton .3s ease-out .75s;
    animation-fill-mode: backwards;
}

nav {
    top:2%;
    line-height: 1;
    position:relative !important;
    z-index:10;
    color:#333;

}

nav a.navbar-brand {
    font-family: "Velocity", sans-serif!important;
}

nav ul {
    box-shadow: 0 0.5rem 1rem #adb5bd !important;
    border: 1px solid #e9ecef !important;
    background:linear-gradient(45deg, #e9ecef, #dee2e6 #f8f9fa);
    border-radius:10px;
    background:linear-gradient(45deg, #f6ad6a, #d6843b, #eba05c);
    padding:2px;
}

nav ul li a.nav-link {
    font-size:14px;
    color:#fefefe;
}

#app {
    height: 100vh;
    overflow:hidden;
}

.page-title {
    padding:4px;
    text-align:center;
}

.page-title hr {
    display:none;
}

.page-title a{
    font-family:'Nunito Bold';
    color:#de771c;
}

.card {
    border:2px solid #de771c;
    box-shadow: 0 0.5rem 1rem #adb5bd !important;
    border-top: 2px solid rgba(255, 255, 255, 0.15) !important;
    border-bottom: 2px solid rgba(0, 0, 0, 0.125) !important;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.15), #f8f9fa, #f8f9fa, #f8f9fa, #f8fafc);
}

.btn {
    font-size:13px;
    color: #fefe;
    text-shadow: 0 0 #d4a312;
    background:#333;
    border: 2px solid #333;
    border-radius:100px;
    box-shadow:0px 0px 5px #333 !important;
}


.btn:hover {
    transform: translateY(-3px);
    border-color: #ffffff;
    transition: all 300ms ease-out;
}

.btn.btn-danger {
    color:#fefefe;
    text-shadow:0 0 1px red;
    background:rgb(255 0 0 / 63%) !important
}


form input,
form select {
    font-size:14px !important;
    border-top-right-radius: 1em !important;
    border-bottom-right-radius: 1em !important;
    box-shadow: 0 0.1rem 0.1rem rgb(0 0 0 / 77%) !important;
    border: 1px solid #dee2e6 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
}

table thead th {

    font-size:14px !important;
}

label, p {
    font-size:15px
}


@keyframes girar {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(0);
    }

    80% {
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInBotton {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
