@import './fonts/fonts.css';

body{
    font-family: 'Nunito', sans-serif;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relactive;
    z-index: 1
}


body:before {
    background: linear-gradient(45deg, hsl(45deg 100% 61%), hsl(54deg 99% 47%), hsl(45deg 100% 61%));    content: "";
    position: absolute;
    bottom: 0%;
    top:0;
    left: 0;
    width: 100%;
    padding: 17%;
/*     box-shadow: 10px 10px 10px #f2d714; */
    z-index: -1;
}


body:after {
    background:#92531a;
    content: "";
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    padding: 17%;
    border-top-left-radius: 100rem;
    border-top-right-radius: 100rem;
/*     box-shadow: 10px 10px 10px #f2d714; */
    z-index: -1;
}


.animation {
    animation: moveInBotton .3s ease-out .75s;
    animation-fill-mode: backwards;
}

nav {
    width:80%;
    left:9.3%;
    line-height: 1;
    position:relative !important;
    padding: inherit;
    top:2%;
    overflow:hidden;
    z-index:10; 
    color:#333;
    border-radius:10px;
    background:#92531a;
    border:3px solid #de771c;
/*     box-shadow:3px 3px 3px #de771c; */
    
}

nav .navbar-brand {
    font-family: 'Velocity';
}

#app {
    height: 100vh;
    overflow:hidden;
}

.card {
    box-shadow: 0 0.5rem 1rem #00000026 !important;
}

.btn {
    font-size: 14px;
    color: #fefe;
    text-shadow: 0 0 #d4a312;
    background:#333;
    border: 2px solid #333;
    border-radius:100px;
    box-shadow:0px 0px 5px #333 !important;
}


.btn:hover {
    transform: translateY(-3px);
    border-color: #ffffff;
    transition: all 300ms ease-out;
}

.btn.btn-danger {
    color:#fefefe;
    text-shadow:0 0 1px red;
    background:rgb(255 0 0 / 63%) !important
}


form input, form select {
    border-color:#888 !important
}



@keyframes girar {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(0);
    }

    80% {
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInBotton {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
