.card {
    margin-top: 10%;
    text-align: left;
    padding: 0;
/*     border:2px solid #444 !important; */
    border: none !important;
    background: none;
/*     box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 77%) !important; */
    box-shadow: none !important;
}

.card *{
    z-index:3;
}

.card:before {
    background:#de771c;
    content: "";
    position: absolute;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 77%) !important;
    border-top:2px solid #333 !important;
    border-bottom:2px solid #333 !important;
    
    top:0;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 17%;
/*     border-top-left-radius: 100rem; */
    border-top-right-radius: 6rem;
    border-top-left-radius: 6rem;
    border-bottom-right-radius: 6rem;
    border-bottom-left-radius: 6rem;
    z-index: 1;
}

.card .card-img-top {
    font-size: 40px;
    text-align: center;
    padding: 50px 10px;
    text-shadow: 0 0 10px#92531a;
    color: #f2d714;
    position: relative;
    line-height: 2;
}

.card .card-img-top:after {
    content: "";
    position: absolute;
    bottom: 20%;
    width: 10%;
    left: 45%;
    border-bottom: 4px solid #c0691b;
    z-index: 1;
}

.card .card-body {
    color: #;
}

.card .card-body h5 {
    text-align:center;
    font-family: "Arial", serif;
    font-weight: 500 ;
    color: #f8f9fa;
}

.card .card-body p {
    text-align: center;
    font-family: 'Arial';
    font-size: 16px;
    text-shadow:#c0691b;
    color: #333;
}

.card .card-footer {
    border: none;
    background:none;
}

.card .card-footer a.btn {
    font-size: 14px;
    color: #fefe;
    text-shadow: 0 0 #d4a312;
    background:#333;
    border: 2px solid #333;
    border-radius:100px;
    box-shadow:0px 0px 5px #333 !important;
}

