#home-component .card{
    margin-top: 10%;
    text-align: left;
    padding: 0;
    border: none !important;
    background: none;
    box-shadow: none !important;
}

#home-component .card .card-img-top {
    font-size: 50px;
    text-align: center;
    padding: 20px;
    position: relative;
}

#home-component .card .card-body p {
    text-align: center;
    font-size: 15px;
    text-shadow: #c0691b;
    color: #333;
    padding:10px 10px;
}

#home-component .card .card-footer {
    border: none;
    background: none;
    padding:14%
}

#home-component .card .card-footer .btn {
    background: none;
    border:1px solid #8f3bd6;
    color: #8f3bd6;
}
