#sale-component #sale-content{
    overflow: hidden;
} 

#sale-component table tbody {
}

#sale-component table thead {
    text-align: left !important;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.15), #f8f9fa, #f8f9fa, #f8f9fa, #f8fafc); 
    position: sticky;
    top: 0;
}


#sale-component .card{
    border:2px solid #636464;
    box-shadow: 0 0.5rem 1rem #adb5bd !important;
    border-top: 2px solid rgba(255, 255, 255, 0.15) !important;
    border-bottom: 2px solid rgba(0, 0, 0, 0.125) !important;
}

#sale-component .btn {
    border-radius:1px;
    
}

#sale-component ul.list-group .btn {
}