

body:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10%;
    background: linear-gradient(45deg, hsl(45deg 100% 61% / 78%), hsl(54deg 99% 47%), hsl(45deg 100% 61% / 78%));
    z-index: -2;
}

body:before {
    content: "";
    position: absolute;
    /*     background: linear-gradient( 45deg, #fefefe, #eee, #eee, #fefefe, #fefefe ); */
    background:#333;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 17%;
    border-top-left-radius: 100rem;
    border-top-right-radius: 100rem;
    z-index: -1
}

 {
    padding: 0;
    margin: 0;
}

 nav {
    line-height: 2;
    padding: 0;
    padding-top: 2px;
    margin: 0 !important;
}


#login {
    margin-top:11em;
}
 
 
 nav a, #all-content  nav a span {
    font-family: "Nunito bold", sans-serif;
    color: #333;
    text-shadow: #333;
    font-size: 13px;
}

a.navbar-brand {
    color: #333;
}

a.navbar-brand {
    z-index: 3;
}

a.navbar-brand img.logo {
    width: 30px;
    border-radius: 10px;
    margin: -7px 3px 2px;
}

a.navbar-brand {
    font-family: "Velocity", serif;
    font-size: 18px;
    color: #fefefe;
    font-weight: ;
}
.navbar-brand {
    font-family: "Velocity" !important;
}



* {
    backface-visibility: hidden !important;
    font-family: "Nunito";
}
.navbar-brand {
    font-family: "Velocity" !important;
}
ul li {
    list-style: none;
}

.modal-backdrop {
    z-index: 92 !important;
}

.modal {
    z-index: !important;
}

.modal * {
    color: #333;
}

.modal input {
    text-align: left !important;
}

#notas {
    position: fixed;
    color: #fefefe;
    right: 0;
    bottom: 11%;
    z-index: 99;
    bottom: 0;
}

#notas ul li {
    margin: 4px;
}

#notas ul li .btn {
    background: #fefefe;
    padding: 6px 8px;
}

#notas ul li .btn:hover {
    background: #f2d714
}


.active {
    display: block !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Nunito bold";
}

.section-title {
    color: #333 !important;
}

.text-black {
    color: #333;
}

.text-white {
    color: #fefefe;
}

.text-yellow {
    color: #ffce39;
}

.text-yellow:hover {
    color: #cba11e;
}

.btn, .card .card-body a.btn {
    font-family: 'Nunito bold';
    font-size: 14px;
    /*     border-radius: 10rem; */
}

.btn-yellow, .card .card-body a.btn {
    color: #333;
}

.card .card-body a.btn, .btn-save {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .75) !important;
    background: linear-gradient(45deg, hsl(45deg 100% 61% / 78%), hsl(54deg 99% 47%),hsl(54deg 99% 47%), hsl(45deg 100% 61% / 78%)) !important;
    position: relative;
}



.btn-sell-print {
    background: linear-gradient(45deg, #f6f7f8, #eee, #eee, #fefefe, aliceblue ) !important;
    border-color: #ffffff;
}

.btn-sell-print::after {
    background-color: #ffffff;
}

.btn-sell {
    background: linear-gradient( 45deg, hsl(123deg 95% 71%), hsl(122deg 100% 80% / 77%), hsl(122deg 100% 77%))!important;
    border-color: hsl(122deg 100% 64% / 61%),
}

.btn-sell::after {
    background-color: hsl(122deg 100% 64% / 61%);
}

.card .card-body a.btn, .btn, .card, .included-menu, , .produto-listado, .animacao {
    animation: moveInBotton .3s ease-out .75s;
    animation-fill-mode: backwards;
}

.btn-yellow.active {
    background-color: #7d5330 !important;
    color: #fefefe;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

/*
**
** Table Scroll
**
*/
.scroll-window, .scrool-window {
    height: 55vh;
    overflow-y: auto;
}

.scroll-table {
    height: 11.3em;
    overflow-y: auto;
}

.scroll-table thead, .scrooll-table thead {
    position: sticky;
    top: 0;
    font-size: 14px;
    text-align: center;
}

.scroll-table thead th {
    font-weight: 100 !important;
    z-index: 1;
}

.super-shadow {
    box-shadow: 0 1rem 3rem rgba(0, 0, .875) !important;
}

.normal-shadow {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .35) !important;
}

.bg-soft-black {
    background: linear-gradient(45deg, rgb(51 51 51), #333, #333333b3, #333c, #333, #333) !important;
    /*     background-color:#c19615; */
    /*     background:aliceblue; */
    /*     color:#E91E63 important; */
    /*     background: linear-gradient(45deg, hsl(45deg 79% 21% / 78%) , hsl(54deg 99% 47%), hsl(45deg 100% 61% / 78%)); */
}

.bg-yellow {
    background: linear-gradient(45deg, hsl(45deg 100% 61% / 78%), hsl(54deg 99% 47%), hsl(45deg 100% 61% / 78%));
}

.bg-black-card {
    /*     background: linear-gradient(45deg, hsl(45deg 2% 18% / 78%) , hsl(0deg 0% 0% / 78%) , hsl(45deg 83% 16% / 78%) ); */
    background: linear-gradient(45deg, #f6f7f8, #eee, #eee, #fefefe, aliceblue );
}

.border-black {
    border: 1px solid #fffff;
}

.border-yellow, .card .card-body a.btn {
    border: 1px solid #ffce39;
}

.margin-top-10 {
    margin-top: 2%;
}

.border-bottom-grow {
    border-bottom: 2px solid #c0691b;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relactive;
    z-index: 1
}


#render-content {
    z-index: 2;
    vertical-align: middle;
    display: block;
    align-items: center;
}

#render-content .included-menu {
    margin-bottom: 3% !important;
}

#inventario-cadastrar-produtos .section-title {
    color: #333 !important
}

#inventario-cadastrar-produtos form small {
    font-size: 13px;
    color: #ffce39;
    padding: 1px;
    border-radius: 10rem;
    text-align: center;
    margin: 7px 0;
    position: relative;
}

#inventario-cadastrar-produtos form .row {
    margin: 2px auto;
}

#inventario-cadastrar-produtos form .col {
    margin: 4px 0;
}

#inventario-cadastrar-produtos form label {
    font-size: 14px;
    color: #333;
    margin: 4px 0;
    font-weight: bold;
}

.cadastrar-artigo input, .cadastrar-artigo select, .cadastrar-artigo label, .cadastrar-artigo textarea, #inventario-cadastrar-produtos form input, #inventario-cadastrar-produtos form select, #inventario-cadastrar-produtos form textarea , #venda .card-sell#form-venda-card label {
    width: 100%;
    color: #333;
    font-weight: bold;
}

#venda {
    display: flex-row !important;
    align-items: stretch !important;
}

#venda .card-sell form {
    text-align: center;
}

#venda .card-sell {
    border: 1px solid #eee;
    border-radius: .9rem;
    background: linear-gradient(45deg, #f6f7f8, #eee, #eee, #fefefe, aliceblue );
}

#venda .box-venda-produtos .btn-save {
    background: linear-gradient(45deg,#eff2f2, #ffffff, #ffffff) !important;
}

.new-bg {
    background: linear-gradient(45deg, #f6f7f8, #eee, #eee, #fefefe, aliceblue );
}

.cadastrar-artigo input, .cadastrar-artigo select, .cadastrar-artigo textarea, .modal input, #venda .card-sell input, #venda .card-sell select {
    width: 100%;
    color: #fff !important;
    font-size: 13px;
    text-align: center;
    background: #222 !important;
    border-radius: .61rem;
    border: 2px dashed #fff !important;
    font-weight: normal;
}

.cadastrar-artigo input, .cadastrar-artigo label, .cadastrar-artigo select {
    text-align: start !important;
}

#venda .cotacao table thead, #venda .quotePrint table thead {
    background: none !important;
}

#venda .cotacao table thead th, #venda .quotePrint table thead th {
    font-weight: bold !important;
    border-bottom: 2px solid #ccc
}

#venda .cotacao table tbody tr td, #venda .quotePrint table tbody tr td {
    font-weight: normal !important;
}

#venda .cotacao .scroll-table {
}

#venda .cotacao table, #venda .quotePrint table {
    font-family: 'Nunito bold';
    font-size: 15px;
}

#venda .cotacao table thead, #venda .quotePrint table thead {
    border-color: #eee !important;
    position: sticky !important;
    background: #fefefe;
    z-index: 66
}

#venda .cotacao table thead thead tr th, #venda .quotePrint table thead tr th {
    text-align: center;
}

#venda .cotacao table tbody tr td .btn, #venda .quotePrint table tbody tr td .btn {
    background: linear-gradient(45deg, #ff7bc4, #fe8a8a) !important;
    border: 1px solid #ff7bc4 !important;
    color: #fefefe;
}

#venda .cotacao table tbody tr , #venda .quotePrint table tbody tr {
    font-weight: bold !important;
    line-height: 2;
    text-align: center;
    border-color: #eee;
    color: #333;
    font-size: 13px;
    padding-bottom: 0px !important;
}

#venda .content-cotacao, #venda .content-cotacao h5 {
    font-size: 16px
}

#venda #printButtonsID {
    margin-top: 5px;
    border-radius: 10px;
    transition: all .4s ease-out;
}

#venda #printButtonsID a {
    color: #f2d714;
    background: #fefefe;
    font-family: 'Nunito';
}

#venda #printButtonsID a:hover {
    color: #323232;
    background: #f2d714 !important;
}

#venda #printButtonsID a#backToSell, #venda #printButtonsID a#concluirVendaBTN, #venda #printButtonsID a:nth-child(3), #venda #printButtonsID a:nth-child(4), #venda #printButtonsID a:nth-child(5), #venda #printButtonsID a:nth-child(6) {
    background: #f2d714;
    color: #323232;
    margin-right: 10px;
    box-shadow: 0 0 10px #f2d714 !important;
    border-radius: .3rem;
}

#venda #printButtonsID a:nth-child(3):hover, #venda #printButtonsID a:nth-child(4):hover, #venda #printButtonsID a:nth-child(5):hover , #venda #printButtonsID a:nth-child(6):hover , #venda #printButtonsID a#backToSell:hover, #venda #printButtonsID a#concluirVendaBTN:hover {
    background-color: #f8f9fa !important;
    box-shadow: 0 0 10px #6e6868 !important;
}

#venda #printButtonsID a:nth-child(2) {
    background: #444 !important;
    color: #fefefe !important;
}

#venda #printButtonsID a:nth-child(2):hover {
    color: #444 !important;
}

#menu_gerir_produtos table thead {
    position: stick;
    background: #7d5330;
    font-weight: normal;
    color: #fefefe !important;
}

#menu_gerir_produtos table thead tr th {
    position: stick;
    background: #7d5330;
    font-weight: normal;
    color: #fefefe !important;
}

#menu_gerir_produtos table tbody tr td {
    color: #333 !important;
    box-shadow: 1px 1px 51px #333;
    border-bottom: 2px solid #fefefe;
    border-radius: 10%;
    padding: 10px;
    margin-top: 10px !important;
    text-align: center;
}

.content-to-replace .welcome-section h1, .content-to-replace .welcome-section p {
    color: #e6cf06
}

a.text-yellow.git {
    font-size: 13px;
    position: absolute;
    bottom: 0;
    color: #ffffff;
    left: 45%;
    display: none;
}

a.text-yellow.git:hover {
    color: #ffff0054;
}

ul.btn-list li h6 {
    color: #333;
}

ul.btn-list li {
    color: #fefefe;
    text-align: center;
}

ul.btn-list .btn.btn-save {
    background: linear-gradient(45deg, #f6f7f8, #eee, #eee, #fefefe, aliceblue ) !important;
    color: #333;
    width: 100%;
}
